$background: #fcfcfc;


#container {

  float: left;
  height: 200px;
  width: 20%;
  padding: 20px;
  margin: 10px;
  border-radius: 5px;
  background: $background;
  position: relative;
  box-shadow: 1px 1px 5px rgba(0,0,0,0.1);

  div p{
    width: 90%;
    text-overflow: ellipsis;
  
    /* Nécessaires pour text-overflow */
    white-space: nowrap;
    overflow: hidden;
  }

  .info{

    justify-content: space-between;
    display: flex;

    div{
        display: inline-grid;
        justify-content: space-between;
        align-items: center;
        margin: 10px;
    }

    span{
        font-weight: bold;
        color: #4FC3F7;
        font-size: 20px;

    }
    small{
        font-weight: bold;
        color: #ccc;
        font-size: 12px;
    }

  }

  .center{
    display: block;
    text-align: center;
  }

}

@media (max-width: 1222px) {
  #container {
      width: 27%;
  }
}

@media (max-width: 1005px) {
  #container {
      width: 25%;
  }
}

@media (max-width: 793px) {
  #container {
      width: 40%;
  }
}

@media (max-width: 610px) {
  #container {
      width: 90%;
      padding: 0;

      div p{
        margin: 20px;
      }
    
      .info{
        margin: 20px;
      }
  }
}