#listCard{
    margin: 0 34px;
    margin: auto;
    width: 1200px;
    .center{
        display: block;
        text-align: center;
      }
      .error{
        display: block;
        color: #FF0033;
      }
      .avatar{
        width: 120px;
        height: 120px;
        //z-index: 99;
       // position: absolute;
        top: 0;
        left: 0;
        
        background-size: cover;
        background-position: top center;
        border-radius: 50%;

        display: flex;
        margin: auto;

        -webkit-box-shadow: 0 8px 6px -6px #808080;
	      -moz-box-shadow: 0 8px 6px -6px #808080;
	      box-shadow: 0 8px 6px -6px #808080;
      }
      .cardItems{
        margin-top: 20px ;
      }
}

@media (max-width: 1222px) {
    #listCard {
        width: 1000px;
    }
}

@media (max-width: 1005px) {
    #listCard {
        width: 800px;
    }
  }

  @media (max-width: 793px) {
    #listCard {
        width: 600px;
    }
  }

  @media (max-width: 610px) {
    #listCard {
        width: 100%;
        margin: 0;
        margin-left: 5px;
        display: inline-grid;
        justify-content: center;
    }
  }
