
#search {

    margin: 20px;
    display: grid;
    justify-content: center;

  .searchForm{
    display: flex;
          
    input[type=text] {
      outline: none;
      padding: 10px;
      font-size: 17px;
      border: 1px solid #ccc;
      float: left;
      width: 500px;
      background: #f1f1f1;
    }
    
    /* Style the submit button */
    button {
      float: left;
      width: 100px;
      padding: 10px;
      background: #4FC3F7;
      color: white;
      font-size: 17px;
      border: 1px solid #ccc;
      border-left: none; /* Prevent double borders */
      cursor: pointer;
    }
    
    button:hover {
      background: #0b7dda;
    }
    
    /* Clear floats */
    &::after {
      content: "";
      clear: both;
      display: table;
    }
  
  }
  .error{
    display: block;
    color: #FF0033;
  }

}

@media (max-width: 657px) {
  #search {
    display: block;
    .searchForm{
      input[type=text] {
        width: 100%;
      }
      button {
        width: 20%;
      }
    }
  }
}